<h1 id="currentOfferId">My Applications</h1>
<div class="search-box">
	<form method="POST" action="search" class="form-search">
		<%= csrf_token_field %>
		<input type="text" name="q" id="text-field"/>
		<input type="submit" value="search" id="search-button" class="btn btn-primary"/>
	</form>
</div>

<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Actions</th>
	</tr>
	<% @applications.each do | application| %>
	<tr>
		<td>
			<%= application.title %>
		</td>
		<td>
			<%= application.location %>
		</td>
		<td>
			<%= application.description %>
		</td>		
		<td>

			<a id="questionbtn" class="btn btn-primary">Send Question</a>
			
		</td>		
	</tr>

  <% end %>

</table>