<div class="jumbotron">
  <h1>Job Vacancy Board</h1>
  <p class="lead">Welcome! In order to either look for a job or offer one, please register</p>
  <p class="lead">If you are looking for a job, click on Looking for a Job. If you have a job to offer, then just click on Want to offer a Job!</p>

  <a class="btn btn-large btn-success" href="<%= url(:users, :new_applicant) %>" >Looking for a Job</a>
  <a class="btn btn-large btn-success" href="<%= url(:users, :new_offerer) %>">Want to offer a Job</a>

</div>