<h1>My Applicants</h1>

<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Actions</th>
	</tr>
	
	<% @applications.each do |application| %>
	
	<tr>
		<td>

			<%= applicantion.applicant_name %>

		</td>
		<td>

			<%= application.applicant_email %>

		</td>
		<td>

			<a id="question_btn" class="btn btn-primary">View Questions</a>
			
			<a id="interview_btn" class="btn btn-primary">Arrange Interview</a>

		</td>		
	</tr>

  <% end %>

</table>