<h1>My Applications</h1>

<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Actions</th>
	</tr>
	
	<% @applications.each do |application| %>
	
	<tr>
		<td>

			<%= application.offer_title %>

		</td>
		<td>

			<%= application.offer_location %>

		</td>
		<td>

			<%= application.offer_description %>

		</td>		
		<td>

			<a id="questionbtn" class="btn btn-primary">Send Question</a>

			<a id="cancel_btn" class="btn btn-secondary">Cancel Application</a>

		</td>		
	</tr>

  <% end %>

</table>